.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root img {
  height: 300px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview__info {
  min-width: 50%;
  background: rgba(0,0,0, 0.5);
  padding: 1rem;
  margin: 1rem;
  color: white;
  font-family: 'Arial Black';
}

.fighter-preview___right .fighter-preview__info {
  text-align: right;
}